<!DOCTYPE html>
<html>
    {% if request_complete %}
    {% if alive %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/green.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/red.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/red.css') }}">
    <body>
        <div class="container">
            <b>{{ the_text }}</b>
        </div>
        <div class="bottom_link">
            <a href="https://github.com/the-red-eye-studio/am-I-alive">Source code</a>
        </div>
    </body>
</html>
